.xbox .stick {
    position: absolute;
    background: url(https://adam10603.github.io/ControllerOverlay/sticks.png);
    background-position: -85px 0;
    height: 83px;
    width: 83px;
}

body {
    background-color: rgba(0, 0, 0, 0);
    margin: 0px auto;
    overflow: hidden;
}
